<ion-content color="dark">
  <div>
    <ion-card >
      <img src="https://www.pngmart.com/files/21/Account-User-PNG-Transparent.png"/>
      <ion-item lines="none">
        <ion-input placeholder="Usuário"></ion-input>
      </ion-item>
      <ion-item lines="none">
        <ion-input placeholder="Senha"></ion-input>
      </ion-item>
      <ion-button expand="block">Entrar</ion-button>
      <ion-button expand="block" color="light">Recuperar Senha</ion-button>
    </ion-card>
  </div>
</ion-content>
