<ion-content color="dark">
  <div>

    <ion-card class="ion-padding">
      <img src="https://www.pngmart.com/files/21/Account-User-PNG-Transparent.png"/>

      <form [formGroup]="formLogin">
        <ion-item lines="none" class="ion-margin-top borda margem">
          <ion-input placeholder="E-mail" type="email" formControlName="email"></ion-input>
        </ion-item>
        <ion-item lines="none" class="ion-margin-bottom borda">
          <ion-input placeholder="Senha" type="password" formControlName="senha"></ion-input>
        </ion-item>
      </form>

      <ion-button expand="block">Entrar</ion-button>
      <ion-button expand="block" fill="outline">Recuperar Senha</ion-button>

      <ion-note class="ion-margin-top" color="dark">Não possui uma conta? <span>Registre-se!</span></ion-note>
    </ion-card>

  </div>
</ion-content>
