<ion-content color="dark">
  <div>

    <ion-card class="ion-padding">
      <img src="https://www.pngmart.com/files/21/Account-User-PNG-Transparent.png"/>

      <form class="ion-margin-vertical" [formGroup]="formLogin">
        <ion-item lines="none" class="ion-margin-top borda margem">
          <ion-input placeholder="E-mail" type="email" formControlName="email"></ion-input>
        </ion-item>
        <ng-container *ngFor="let erro of mensagensErro.email">
          <span class="msg-erro" *ngIf="email.errors?.[erro.tipo] && (email.dirty || email.touched)">
            {{erro.aviso}}
          </span>
        </ng-container>

        <ion-item lines="none" class="ion-margin-top borda margem">
          <ion-input placeholder="Senha" type="password" formControlName="senha"></ion-input>
        </ion-item>
        <ng-container *ngFor="let erro of mensagensErro.senha">
          <span class="msg-erro" *ngIf="senha.errors?.[erro.tipo] && (senha.dirty || senha.touched)">
            {{erro.aviso}}
          </span>
        </ng-container>
      </form>

      <ion-button expand="block" (click)="login()">Entrar</ion-button>
      <ion-button expand="block" fill="outline">Recuperar Senha</ion-button>

      <ion-note class="ion-margin-top" color="dark">Não possui uma conta? <span (click)="telaRegistro()">Registre-se!</span></ion-note>
    </ion-card>

  </div>
</ion-content>
